.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchBoxContainer {
  padding-top: 75px;
  width: 780px;
}

.searchBackGround {
  position: absolute;
  width: 100%;
  height: 1000px;
  filter: brightness(50%);
  z-index: -1;
}
