.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  z-index: 100;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  height: 66px;
  padding: 0 15px 0 15px;
}

.navLogo {
  cursor: pointer;
}
