@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.5);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes skeleton-svg-gradient {
  0% {
    fill: rgba(165, 165, 165, 0.1);
  }

  50% {
    fill: rgba(165, 165, 165, 0.5);
  }

  100% {
    fill: rgba(165, 165, 165, 0.1);
  }
}

@keyframes backgroundImg-gradient {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.3;
  }
}

.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
}

.backgroundImgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.backgroundImg {
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  animation: backgroundImg-gradient 1.8s infinite ease-in-out;
}

@media screen and (max-width: 767px) {
  .detailContainer {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 767px) {
  .backgroundImgContainer {
    width: 767px;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 1050px;
}

.profileLeftContainer {
  display: flex;
  width: 50%;
}

.profileImgContainer {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  overflow: hidden;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.profileTextContainer {
  padding-left: 15px;
  width: calc(100% - 140px);
  border-radius: 5px;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.channelCategoryContainer {
  display: flex;
}

.profileRigthContainer {
  display: flex;
}

.shareBtn {
  margin-right: 9px;
  width: 55px;
  height: 55px;
  border-radius: 3px;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.likeBtn {
  margin-right: 9px;
  width: 55px;
  height: 55px;
  border-radius: 3px;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.offerAdBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 55px;
  border-radius: 3px;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

@media screen and (max-width: 1050px) {
  .profile {
    width: 100%;
  }

  .offerAdBtn {
    width: 60px;
    height: 55px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    width: 100%;
  }

  .channelCategoryContainer {
    width: 140px;
  }
}

.analysisMenu {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1050px;
  font-size: 16px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.analysisTextContainer {
  display: flex;
}

.analysisMenuText {
  margin-right: 32px;
  padding: 12px 0;
  cursor: pointer;
}

.analysisMenuText:hover {
  color: #ff0044;
}

.analysisMenuText:first-child {
  color: #ff0044;
  border-bottom: 2px solid #ff0044;
}

@media screen and (max-width: 1050px) {
  .analysisMenu {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .analysisMenuText {
    font-size: 15px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 580px) {
  .analysisMenuText {
    font-size: 12px;
    margin-right: 14px;
  }
}

.performanceReportTitle {
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}

.svgReportForPcContainer {
  display: flex;
  padding-bottom: 20px;
  margin-top: 58px;
}

.leftReportForPcContainer {
  width: 630px;
  height: 280px;
  margin-right: 58px;
  border-radius: 5px;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.rightReportForPcContainer {
  width: 366px;
  height: 280px;
  border-radius: 5px;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.svgReportForTabletContainer {
  padding-bottom: 20px;
  width: 100%;
  animation: skeleton-svg-gradient 1.8s infinite ease-in-out;
}

.svgReportForMobileContainer {
  padding-bottom: 20px;
  width: 100%;
  animation: skeleton-svg-gradient 1.8s infinite ease-in-out;
}

.performanceReportTitle {
  font-size: 16px;
  font-weight: 500;
  fill: black;
}
