.analysisMenu {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1050px;
  font-size: 16px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.analysisTextContainer {
  display: flex;
}

.analysisMenuText {
  margin-right: 32px;
  padding: 12px 0;
  cursor: pointer;
}

.analysisMenuText:hover {
  color: #ff0044;
}

.analysisMenuText:first-child {
  color: #ff0044;
  border-bottom: 2px solid #ff0044;
}

.copyOption {
  position: absolute;
  top: -120%;
  right: 0;
  width: 180px;
  padding: 10px 10px;
  color: #ff0044;
  border: 1px solid #ff0044;
  border-radius: 7px;
  background-color: white;
  z-index: 2;
  font-size: 20px;
}

.copyOptionList {
  display: flex;
  justify-content: space-around;
}

.copyOptionText {
  font-size: 14px;
  cursor: pointer;
}

.copyOptionText:hover {
  font-weight: 600;
}

@media screen and (max-width: 1050px) {
  .analysisMenu {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .analysisMenuText {
    font-size: 15px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 580px) {
  .analysisMenuText {
    font-size: 12px;
    margin-right: 14px;
  }
}
