.backgroundImgContainer {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: calc((176 / 1061) * 100%);
  margin-bottom: 20px;
  width: 100%;
}

.backgroundImg {
  position: absolute;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .backgroundImgContainer {
    width: 767px;
    padding-bottom: 125px;
  }
}
