.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
}

.svgReportForPcContainer {
  padding-bottom: 20px;
}

.svgReportForTabletContainer {
  padding-bottom: 20px;
  width: 100%;
}

.svgReportForMobileContainer {
  padding-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .detailContainer {
    overflow-x: hidden;
  }
}
