@keyframes showContents {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rankTextContainer {
  width: 172px;
  height: 102px;
  fill: #f7f7f7;
  opacity: 0;
  animation: showContents 1s forwards;
  animation-delay: 0.3s;
}

.rankTitle {
  font-size: 13px;
  opacity: 0.5;
  text-anchor: middle;
  alignment-baseline: middle;
  opacity: 0;
  animation: showContents 1s forwards;
  animation-delay: 0.5s;
}

.rankNumber {
  font-size: 18px;
  font-weight: 700;
  text-anchor: middle;
  alignment-baseline: middle;
  opacity: 0;
  animation: showContents 1s forwards;
  animation-delay: 0.7s;
}

.rankTop {
  font-size: 13px;
  text-anchor: middle;
  alignment-baseline: middle;
  opacity: 0;
  animation: showContents 1s forwards;
  animation-delay: 0.9s;
}
