.searchBox {
  display: flex;
  justify-content: space-between;
  width: 786px;
  height: 57px;
  border: 3px solid #ff0044;
  border-radius: 3px;
}

.searchInput {
  width: 100%;
  padding-left: 10px;
  border: none;
  font-size: 16px;
  outline-style: none;
}

.searchInput::placeholder {
  font-size: 16px;
  opacity: 0.5;
}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: #ff0044;
  cursor: pointer;
}

@media screen and (max-width: 810px) {
  .searchBox {
    margin-left: 150px;
    width: 70vw;
  }
}

@media screen and (max-width: 650px) {
  .searchBox {
    margin-left: 150px;
    width: 80vw;
  }
}

@media screen and (max-width: 510px) {
  .searchBox {
    margin-left: 200px;
    width: 80vw;
  }
}

@media screen and (max-width: 375px) {
  .searchBox {
    margin-left: 215px;
    width: 65vw;
  }
}
