.searchTitle {
  font-size: 62px;
  font-weight: 700;
  padding: 244px 0 48px 0;
  color: white;
}

.searchSubTitleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchSubTitle {
  font-size: 26px;
  line-height: 38px;
  color: white;
}

@media screen and (min-width: 650px) and (max-width: 810px) {
  .searchTitle {
    font-size: 50px;
  }

  .searchSubTitle {
    font-size: 26px;
    color: white;
  }
}

@media screen and (min-width: 376px) and (max-width: 650px) {
  .searchTitle {
    font-size: 35px;
    font-weight: 900;
  }

  .searchSubTitle {
    font-size: 18px;
    font-weight: 700;
    color: white;
  }
}

@media screen and (max-width: 375px) {
  .searchTitle {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 900;
    color: white;
  }

  .searchTitleMain {
    padding-left: 85px;
    padding-bottom: 10px;
  }

  .searchSubTitle {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: cornflowerblue;
  }

  .searchSubTitleWrapper {
    font-size: 18px;
    font-weight: 700;
    color: white;
  }

  .searchSubMain {
    padding-bottom: 5px;
  }

  .searchSub {
    margin-left: 50px;
  }
}
