@keyframes showContents {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textInfoList {
  font-size: 12px;
  font-weight: 300;
  text-anchor: middle;
  alignment-baseline: middle;
  opacity: 0;
  animation: showContents 1s forwards;
  animation-delay: 1s;
}

.textInfoName {
  font-size: 16px;
  font-weight: 700;
  text-anchor: middle;
  alignment-baseline: middle;
  opacity: 0;
  animation: showContents 1s forwards;
  animation-delay: 1.2s;
}
