.listWrapper {
  position: relative;
  top: 230px;
  margin: 0 auto;
  width: 1050px;
  min-height: 3500px;
}

.sortWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}

.sortTitle {
  font-size: 12px;
  color: #ff0045;
}

.subscriberCheckImg {
  margin-right: 5px;
  padding-top: 4px;
  width: 9px;
  height: 12px;
}

.card {
  width: auto;
  height: 140px;
  padding: 10px 20px;
}

.cardWrapper {
  display: flex;
  padding: 10px 0;
  width: 1010px;
  height: 110px;
  border-bottom: 1px solid #d9d9d9;
}

.rank {
  display: flex;
  align-items: center;
  margin-right: 15px;
  width: 30px;
  height: 100px;
  font-size: 20px;
  font-weight: 800;
}

.profile {
  margin-right: 15px;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  cursor: pointer;
}

.infoWrapper {
  margin-right: 15px;
  width: 333px;
  height: 117px;
}

.infoName {
  height: 25px;
  font-size: 19px;
  font-weight: 800;
  cursor: pointer;
}

.infoDescription {
  height: 20px;
  line-height: 24px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.infoDescription:hover {
  overflow: visible;
}

.infoCategory {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 10px;
  min-width: 48px;
  width: auto;
  height: 24px;
  border-radius: 15px;
  background-color: #f1f1f1;
  color: #7d7d7d;
  font-size: 12px;
}

.statusWrapper {
  width: 286px;
  height: 100px;
  border-right: 1px solid #d9d9d9;
}

.statusWrapper li {
  display: flex;
  margin: 0 auto 8px auto;
  height: 25px;
}

.subscriberStatus {
  display: flex;
  padding-top: 3px;
  width: 130px;
  height: 100%;
}

.subscriberIconImg {
  width: 13px;
  height: 13px;
}

.subscriberStatus p {
  margin-left: 5px;
  font-size: 14px;
}

.countStatus {
  width: 80px;
  height: 100%;
  text-align: end;
  font-size: 18px;
  font-weight: 800;
}

.countChangeStatus {
  text-align: center;
  width: 65px;
  height: 100%;
  line-height: 20px;
  color: #0f9d58;
  font-size: 13px;
}

.countChangeImg {
  margin-right: 5px;
  width: 7px;
  height: 11px;
}

.imageClipWrapper {
  margin: -5px 30px 0 30px;
  width: 184px;
  height: 100px;
}

.imageClipWrapperImg {
  width: 170px;
  height: 95px;
  border-radius: 5px;
}

@media screen and (max-width: 1050px) {
  .subscriberSort {
    margin-right: 300px;
  }

  .card {
    width: 100vw;
    height: 120px;
  }

  .cardMobileWrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 120px;
  }

  .cardMobileTop {
    display: flex;
    align-items: center;
    margin-left: 80px;
    height: 50%;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }

  .mobileProfile {
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }

  .cardMobileBottom {
    display: flex;
    justify-content: space-around;
    margin-left: -70px;
    height: 50%;
  }

  .cardMobileBottomBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  .countNumber {
    padding-top: 4px;
    font-size: 17px;
    font-weight: 700;
  }
}

@media screen and (max-width: 501px) {
  .subscriberSort {
    margin-right: 570px;
  }

  .cardMobileWrapper {
    width: 62vh;
  }
  .cardMobileTop {
    margin-left: 25px;
    cursor: pointer;
  }

  .cardMobileBottom {
    margin-left: -25px;
  }
}
